@using QBCS.Service.ViewModel

<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="#">
        <div class="sidebar-brand-icon pt-4" style="width:50%">
            <img src="~/Content/logo_transparent.png" style="object-fit: contain;" width="120" height="140" />
        </div>
        <div class="sidebar-brand-text mr-5"><h4 class="font-weight-bolder">QBCS</h4></div>
    </a>

    @{
        var sidebar = Session[AuthLib.Constant.SIDE_BAR_SESSION] as List<AuthLib.Models.SideBarModel>;
    }
    @foreach (var item in sidebar.OrderBy(s => s.InternalId))
    {

        if (item.IsInternal)
        {
            string active = "";
            if (TempData["active"] != null && item.InternalId == (int)TempData["active"])
            {
                active = "active";

            }
            <hr class="sidebar-divider my-0">
            <li class="nav-item @active">
                <a class="nav-link" href="@(item.Url)">
                    <i class="fas fa-file"></i>
                    <span>@item.ShortName</span>
                </a>
            </li>
        }

    }

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>

</ul>
