@model QBCS.Service.ViewModel.OptionViewModel

<h6>Option @ViewData["index"]</h6>
<div class="form-inline">
    <input type="text" class="form-control col-lg-11" name="Options[@((int)ViewData["index"] - 1)].OptionContent" value="">
    <div class="col-lg-1">
        <label class="switch float-right">
            <input type="checkbox" class="success" name="Options[@((int)ViewData["index"] - 1)].IsCorrect" value="true">
            <span class="slider round"></span>
        </label>
    </div>
</div>
