@model QBCS.Service.ViewModel.QuestionViewModel

@{
    var optionLetter = "abcdefghijklmnopqrstuvwxyz".ToArray();
    string option = "";
    string question = "";
    string answer = "<tr> <td> <p>ANSWER:</p> </td>" + "<td> <p>";
    string image = "<p><img src='data:image/png;base64," + Model.Image + "' /></p>";
    string category = "";
    string unit = "";
    string mark = "";
    switch (Model.LevelName)
    {
        case "Easy":
            mark = "<tr> <td> <p>MARK: </p> </td>" + "<td> <p>" + 1 + "</p> </td> </tr>";
            break;
        case "Medium":
            mark = "<tr> <td> <p>MARK: </p> </td>" + "<td> <p>" + 2 + "</p> </td> </tr>"; ;
            break;
        case "Hard":
            mark = "<tr> <td> <p>MARK: </p> </td>" + "<td> <p>" + 3 + "</p> </td> </tr>"; ;
            break;

    }
    string table = "";

    for (int i = 0; i < Model.Options.Count; i++)
    {
        option = option + "<tr> <td> <p>" + optionLetter[i] + ". </p> </td>" + "<td> <p>" + Model.Options[i].OptionContent + "</p> </td> </tr>";
        if (Model.Options[i].IsCorrect)
        {
            answer = answer + optionLetter[i];
        }
        else if (Model.Options[i].IsCorrect && i == Model.Options.Count - 1)
        {
            answer = answer + optionLetter[i] + "</p> </td> </tr>";
        }
    }
    unit = "<tr> <td> <p>UNIT: </p> </td>" + "<td> <p>" + Model.LearningOutcomeName + "</p> </td> </tr>";
    category = "<tr> <td> <p>CATEGORY: </p> </td>" + "<td> <p>" + Model.Category + "</p> </td> </tr>";
    question = "<tr> <td width='138' valign='top'> <p>QN=" + Model.QuestionCode + "</p> </td>" + "<td width='495' valign='top'> <p>" + Model.QuestionContent.Replace("<cbr>", "<br/>") + "</p> <p>" + image + "</p> </td> </tr>";
    table = "<table border='1' cellspacing='0' cellpadding='0' width='0'> <tbody>" + question + option + answer + mark + category + unit
            + "</tbody> </table>";
    var test = table;
}

<head>
    <script type='text/javascript' src='~/Scripts/myjs/textWord/textboxio/textboxio.js'></script>
    <link rel="stylesheet" type="text/css" href="~/Scripts/myjs/textWord/example.css" />
    <script src="~/Scripts/jquery-3.3.1.js"></script>

</head>
<body onload="instantiateTextbox();">
    @using (Html.BeginForm("UpdateQuestionWithTextBox", "Question", FormMethod.Post, new { @class = "form-group" }))
    {
        <div class="row">
            <div class="col-md-12" style="height:35em">
                <textarea id="textbox" name="questionTextBox" style="height:100% !important">

                </textarea>
                <input name="courseId" value="@Model.CourseId" hidden />
                <div class="form-group" style="margin-top:5px">
                    <button type="submit" class="btn btn-primary float-right">Import</button>
                </div>
            </div>
        </div>
    }
</body>
<script>
    var table = unescape('@table');
    $('#textbox').html(table);
        var instantiateTextbox = function () {
            textboxio.replaceAll('textarea', {
                paste: {
                    style: 'clean',
                }
            });
        };

</script>