
@{
    ViewBag.Title = "GenerateExam";
}

<h2>Generate Exam</h2>
<div class="container">
            <div class="row">
                
                <form class="form-inline">
                    <i class="fas fa-search" aria-hidden="true"></i>
                    <input class="form-control form-control-sm ml-3 w-75" type="text" placeholder="Search Course" aria-label="Search Course">
                </form>
            </div>
            <div class="row h-25"></div>
            <div class="row">
                <div class="col-lg-4 border-right">
                    <button type="button" class="btn btn-default"><h5>PRX301</h5> </button>
                </div>
                <div class="col-lg-8" >
                    <table class="table table-striped">
                        <tbody>
                            <tr class="d-flex">
                                <td class="col-1">
                                    <div class="el-checkbox el-checkbox-green text-center">
                                        <span class="margin-l"></span>
                                        <input type="checkbox" id="selectAllCheckbox" />
                                        <label class="el-checkbox-style" for="selectAllCheckbox"></label>
                                    </div>
                                </td>
                                <td class="col-11">
                                    <h5>Select All</h5>
                                </td>
                            </tr>
                            <tr class="d-flex">
                                <td class="col-1">
                                    <div class="el-checkbox el-checkbox-green text-center">
                                        <span class="margin-l"></span>
                                        <input type="checkbox" id="checkbox2" />
                                        <label class="el-checkbox-style" for="checkbox2"></label>
                                    </div>
                                    
                                </td>
                                <td class="col-11">
                                    <h5 style="word-wrap:break-word;">LO1.1: Namespace</h5>
                                </td>
                            </tr>
                            <tr class="d-flex">
                                <td class="col-1">
                                    <div class="el-checkbox el-checkbox-green text-center">
                                        <span class="margin-l"></span>
                                        <input type="checkbox" id="checkbox3" />
                                        <label class="el-checkbox-style" for="checkbox3"></label>
                                    </div>
                                    

                                </td>
                                <td class="col-11">
                                    <h5 style="word-wrap:break-word;">LO1.2: Schema</h5>
                                </td>
                            </tr>
                            <tr class="d-flex">
                                <td class="col-1">
                                    <div class="el-checkbox el-checkbox-green text-center">
                                        <span class="margin-l"></span>
                                        <input type="checkbox" id="checkbox4" />
                                        <label class="el-checkbox-style" for="checkbox4"></label>
                                    </div>
                                    

                                </td>
                                <td class="col-11">
                                    <h5 style="word-wrap:break-word;">LO2.1: Stax</h5>
                                </td>
                            </tr>
                            <tr class="d-flex">
                                <td class="col-1">
                                    <div class="el-checkbox el-checkbox-green text-center">
                                        <span class="margin-l"></span>
                                        <input type="checkbox" id="checkbox5" />
                                        <label class="el-checkbox-style" for="checkbox5"></label>
                                    </div>
                                    

                                </td>
                                <td class="col-11">
                                    <h5 style="word-wrap:break-word;">Topic 1: JAXB</h5>
                                </td>
                            </tr>
                            <tr class="d-flex">
                                <td class="col-1">
                                    <div class="el-checkbox el-checkbox-green text-center">
                                        <span class="margin-l"></span>
                                        <input type="checkbox" id="checkbox6" />
                                        <label class="el-checkbox-style" for="checkbox6"></label>
                                    </div>
                                    

                                </td>
                                <td class="col-11">
                                    <h5 style="word-wrap:break-word;">Topic 2: JSP and XML</h5>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    </div>
                </div>
        </div>
    <div class="container">
        <div class="col-lg-4">
            <div class="form-group">
                <label for="easyQ">Easy question number:</label>
                <input type="number" class="form-control" id="easyQ">
            </div>
            <div class="form-group">
                <label for="normalQ">Normal question number:</label>
                <input type="number" class="form-control" id="normalQ">
            </div>
            <div class="form-group">
                <label for="hardQ">Hard question number:</label>
                <input type="number" class="form-control" id="hardQ">
            </div>
            <a href="@Url.Action("ViewGeneratedExamination","Question")" class="btn btn-primary">Generate Examination</a>
        </div>
            
    </div>


