@model IEnumerable<QBCS.Web.Models.QuestionViewModel>

@{
    ViewBag.Title = "ListQuestion";
    int counter = 0;
}

<h2>ListQuestion</h2>

<div class="container">
    <div class="row">
    <table class="table">
        <tr>
                <th>No.</th>
            
                <th class="col-md-8">Question</th>


                <th class="col-md-4">Option</th>
        @foreach (var item in Model)
        {
            <tr>
                    @{ 
                        counter++;
                    }
                    <td>@counter</td>
                    <td class="col-md-8">@Html.DisplayFor(modeItem => item.Question.QuestionContent)</td>


                    <td class="col-md-4">
                        @foreach (var option in item.Options)
                        {
                            if (option.IsCorrect == true)
                            {
                                <div class="row bg-success text-white container-fluid text-center">
                                    @Html.DisplayFor(optionItem => option.OptionContent)
                                </div>
                            }
                            else
                            {
                                <div class="container-fluid">
                                    @Html.DisplayFor(optionItem => option.OptionContent)
                                </div>
                            }

                            <br />
                        }
                    </td>


                </tr>
            }

        </table>
    </div>
</div>
