@{
    ViewBag.Title = "Generate Exam";
}
<h2>Examination</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th>No.</th>
            <th>Question</th>
            <th>Level</th>
            <th>Mark</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>
                <div class="row">
                    <p>By switching on and off, the __ can be used to represent the 1s and 0s that are foundation of all that goes on in the computers ?</p>
                    <br/>
                    <div class="row bg-success text-white container-fluid text-center rounded">
                        capacitor
                     </div>
                    <div class="container-fluid">
                        resistor
                    </div>
                    <div class="container-fluid">
                        transitor
                    </div>
                    <div class="container-fluid">
                        inductor
                    </div>
                    </div>
            </td>
            <td>
                Easy
            </td>
            <td>
                <div class="form-group">
                    <input type="text" class="form-control"/>
                </div>
            </td>
        </tr>
        <tr>
            <td>2</td>
            <td>
                <div class="row">
                    <p>By switching on and off, the __ can be used to represent the 1s and 0s that are foundation of all that goes on in the computers ?</p>
                    <br />
                    <div class="row bg-success text-white container-fluid text-center rounded">
                        capacitor
                    </div>
                    <div class="container-fluid">
                        resistor
                    </div>
                    <div class="container-fluid">
                        transitor
                    </div>
                    <div class="container-fluid">
                        inductor
                    </div>
                </div>
            </td>
            <td>
                Normal
            </td>
            <td>
                <div class="form-group">
                    <input type="text" class="form-control" />
                </div>
            </td>
        </tr>
        <tr>
            <td>3</td>
            <td>
                <div class="row">
                    <p>By switching on and off, the __ can be used to represent the 1s and 0s that are foundation of all that goes on in the computers ?</p>
                    <br />
                    <div class="row bg-success text-white container-fluid text-center rounded">
                        capacitor
                    </div>
                    <div class="container-fluid">
                        resistor
                    </div>
                    <div class="container-fluid">
                        transitor
                    </div>
                    <div class="container-fluid">
                        inductor
                    </div>
                </div>
            </td>
            <td>
                Hard
            </td>
            <td>
                <div class="form-group">
                    <input type="text" class="form-control" />
                </div>
            </td>
        </tr>
    </tbody>
</table>
<div class="row">
    <div>
        <h5>File extension :</h5>
    </div>
    <div class="col-lg-2">
        <select class="form-control">
            <option>GIFT</option>
            <option>XML</option>
        </select>
    </div>
    
    <input type="submit" name="Export" value="Export" class="btn btn-primary float-right" />
</div>