
@{
    ViewBag.Title = "ImportWithTextArea";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <script type='text/javascript' src='~/Scripts/myjs/textWord/textboxio/textboxio.js'></script>
    <link rel="stylesheet" type="text/css" href="~/Scripts/myjs/textWord/example.css" />
    <script src="~/Scripts/jquery-3.3.1.js"></script>
    
</head>

<body onload="instantiateTextbox();">
    <div class="row">
        <div class="col-md-12">
            <a class="text-info btn-link  float-right" href="@Url.Action("Index", "Home")">Switch to import file</a>
        </div>
    </div>
    <div class="row" style="margin-bottom:10px">
        <div class="col-md-3 float-left">
            <input id="myautocomplete" name="ownerName" class="form-control text-custom border-dark" placeholder="Search Lecturer" /> 
        </div>
        <div class="col-sm-6">
            <div class="btn-group btn-group-toggle" data-toggle="buttons">
                <label class="btn btn-outline-dark active">
                    <input type="radio" name="prefix" autocomplete="off" checked value="Learning Outcome"> Learning Outcome
                </label>
                <label class="btn btn-outline-dark">
                    <input type="radio" name="prefix" autocomplete="off" value="Topic"> Topic
                </label>
                <label class="btn btn-outline-dark">
                    <input type="radio" name="prefix" autocomplete="off" value="Chapter"> Chapter
                </label>
                <label class="btn btn-outline-dark">
                    <input type="radio" name="prefix" autocomplete="off" value="Unit"> Unit
                </label>
                <label class="btn btn-outline-dark">
                    <input type="radio" name="prefix" autocomplete="off" value=""> [None Prefix]
                </label>
            </div>
        </div>
        <div class="col-md-3">
            @*<div class="col-md-1">
            <h4>Course</h4>
        </div>*@
            <select class="form-control border-dark" id="Course" style="margin-bottom:5px"></select>            
        </div>
    </div>
    <div class="row">
        <div class="col-md-12" style="height:35em">
            <textarea id="textbox" style="height:100% !important">

        </textarea>
            <div style="margin-top:5px">
                <a href="#" class="btn btn-primary float-right">Import</a>
            </div>
        </div>
    </div>

    <script>
    var instantiateTextbox = function () {
        textboxio.replaceAll('textarea', {
            paste: {
                style: 'clean'
            }
        });
    };

    $(document).ready(function () {
        $.ajax({
        type: "GET",
        contentType: "application/json; charset=utf-8",
        url: "@Url.Action("LoadCourseAjax","Question")",
        dataType: "json",
            success: function (result) {
                if (result.length > 0) {
                    for (var i = 0; i < result.length; i++) {
                        $("#Course").append("<option id=" + result[i].CourseId + ">" +
                            result[i].Name + "</option>");
                    }
                } else {
                    $("#Course").append("<option>" +"[None course available]"+"</option>");
                }
            },
            error: function (result) {
                toastr.error(result);
            }
        });
        $('.btn-primary').on('click', function (event) {
            event.preventDefault();
            var editors = textboxio.get('#textbox');
            var editor = "";
            editor = editors[0].content.get();
            var objectTable = new Object();
            objectTable['Table'] = '<body>' + editor + '</body>';
            objectTable['CourseId'] = $('#Course').children(":selected").attr("id");
            objectTable['OwnerName'] = $('myautocomplete').val();
            objectTable['Prefix'] = $("input[name='prefix']:checked").val();
            $.ajax({
                type: "POST",
                url: '@Url.Action("ImportTextarea","Question")',
                data: JSON.stringify(objectTable),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (response) {
                    window.location.replace('Index');
                },
                failure: function(response) {
                    alert(response.responseText);
                },
                error: function(response) {
                    alert(response.responseText);
                }
            });
        });
    });

    </script>
</body>

