@model QBCS.Service.ViewModel.UserViewModel
@using QBCS.Service.ViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-10 ml-5">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Import Question</h6>
                </div>
                <div class="card-body">
                    @*<div class="col-xl-3 col-md-6 mb-4">
                            <a href="" class="btn btn-primary float-left">Import Question</a>
                        </div>*@
                    @using (Html.BeginForm("ImportFile", "Question", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        <!-- COMPONENT START -->
                        <div class="form-group">
                            <i class="text-dark text-justify">Choose a file:</i>
                            <div class="input-group input-file" name="questionFile">                      
                                <input type="text" class="form-control"/>
                                <span class="input-group-btn">
                                    <button class="btn btn-import-file btn-choose" type="button">Choose</button>
                                </span>
                            </div>
                        </div>
                        <!-- COMPONENT END -->
                        <div class="form-group">
                            @if (Model.Courses == null || Model.Courses.Count == 0)
                            {
                                <select class="form-control text-dark text-justify">
                                    <option selected>[None course available]</option>
                                </select>
                            }
                            else
                            {
                                @Html.DropDownList("courseId", Model.Courses.Select(c => new SelectListItem
                                 {
                                     Value = c.CourseId + "",
                                     Text = c.Code + " - " + c.Name,
                                 }), new { @class = "form-control" })
                            }
                        </div>
                        <div class="form-group">
                            @Html.Hidden("userId", Model.Id)
                            <button type="submit" class="btn btn-primary float-right">Import</button>
                            <button type="reset" class="btn btn-default float-right btn-light border-dark mr-2">Cancel</button>
                        </div>
                    }
                </div>
            </div>

        </div>
        @*<div class="col-md-3">
            <div class="col-xl-12 col-md-12 mb-4">
                <div class="card border-left-primary shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="h5 mb-0 font-weight-bold text-gray-800">
                                    Courses
                                </div>
                                <div class="h5 mb-0 font-weight-bold text-gray-500"> @(((UserViewModel)Session["user"]).Courses.Count)</div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-book fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-12 col-md-12 mb-4">
                <div class="card border-left-warning shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="h5 mb-0 font-weight-bold text-gray-800">Questions</div>
                                <div class="h5 mb-0 font-weight-bold text-gray-500">201</div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-question fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-12 col-md-12 mb-4">
                <div class="card border-left-success shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="h5 mb-0 font-weight-bold text-gray-800">Statistic</div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-chart-bar fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>*@
    </div>


</div>


@*<div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">List of Courses</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>
                                Code
                            </th>
                            <th>
                                Name
                            </th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr>
                            <td>
                                ITC
                            </td>
                            <td>
                                Introduction of computing
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>*@

