.list-group.list-group-root {
    padding: 0;
    overflow: hidden;
    border-radius: 5px;
}

    .list-group.list-group-root .list-group {
        margin-bottom: 0;
    }

    .list-group.list-group-root .list-group-item {
        border-radius: 0;
        border-width: 1px 0 0 0;
        color: #555;
    }

    .list-group.list-group-root > .list-group-item:first-child {
        border-top-width: 0;
    }

    .list-group.list-group-root > .list-group > .list-group-item {
        padding-left: 30px;
    }

    .list-group.list-group-root > .list-group > .list-group > .list-group-item {
        padding-left: 45px;
    }

.list-group-item .fa {
    margin-right: 5px;
}

.show-category .active {
    color: #fffeee !important;
}

    .show-category .active:hover {
        background-color: #4e73df !important;
    }

.list-group-item:hover{
    background-color: #eeeeee;
    cursor: pointer;
}