.text-custom {
    color: #000 !important;
    font-weight: 500;
}

.text-right-answer {
    color: #0c2f94 !important;
    font-weight: bold;
}

/*Table hover*/
.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
    background-color: #000 !important;
    background-color: #f8f9fc !important;
}

