.text-custom {
    color: #000 !important;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
}

.text-custom-dashboard {
    color: #000 !important;
    font-weight: 300 !important;
    font-family: Arial, Helvetica, sans-serif !important;
}

.text-invalid {
    font-weight: bold;
    background-color: #dfeb73;
}

.text-right-answer {
    color: #0c2f94 !important;
    font-weight: bold;
}

/*Table hover*/
.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
    background-color: #000 !important;
    background-color: #f8f9fc !important;
}

.delete-option, .add-option {
    cursor: pointer;
}

/**Highlight diffrent between string*/
.highlight {
    background-color: #B4D5FF
}

.error-block ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/*Drag and Drop FIle*/

#drop_file_zone {
    border: 2px dashed #ccc;
    text-align: center;
    height: auto;
    padding: 8px;
    font-size: 18px;
}

#drag_upload_file {
    width: 50%;
    margin: 0 auto;
}

    #drag_upload_file p {
        text-align: center;
    }

    #drag_upload_file #selectfile {
        display: none;
    }



.dropArea {
    border: 2px dashed #ccc;
    height: 200px;
    text-align: center;
    line-height: 300px;
    color: #000;
}

.active-drop {
    border: 2px dashed cornflowerblue !important;
    
}
.hidden{
    display: none;
}