.text-custom {
    color: #000 !important;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
}

.text-right-answer {
    color: #0c2f94 !important;
    font-weight: bold;
}

/*Table hover*/
.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
    background-color: #000 !important;
    background-color: #f8f9fc !important;
}

.delete-option, .add-option {
    cursor: pointer;
}

/**Highlight diffrent between string*/
.highlight {
    background-color: #B4D5FF
}