.btn-import-file {
    border-radius: 0 .35rem .35rem 0 !important;
    background-color: #dddfeb !important;
    border-color: #b7b9cc !important;
    color: #3a3b45 !important;
}
.editableTemp{
    cursor:pointer;
}

#customs-display {
    width: 92%;
    height: 70%;
    border: 1px solid #ccc;
    padding: 5px;
}

