.btn-import-file {
    border-radius: 0 .35rem .35rem 0 !important;
    background-color: #dddfeb !important;
    border-color: #b7b9cc !important;
    color: #3a3b45 !important;
}
.editableTemp{
    cursor:pointer;
}