@model IEnumerable<QBCS.Service.ViewModel.CourseViewModel>
@using QBCS.Service.ViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card shadow mb-4">
    <div class="card-header">
        <h5>List all course</h5>
    </div>
    <div class="card-body">
        <table class="table table-striped table-bordered text-custom" id="dataTable" cellspacing="0">
            <thead>
                <tr>
                    <th>Code</th>
                    <th>Name</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr onClick="document.location.href='@Url.Action("CourseDetail", "Course", new { courseId = item.CourseId })'">
                        <td>
                            @Html.DisplayFor(course => item.Code)
                        </td>
                        <td>
                            @Html.DisplayFor(course => item.Name)
                        </td>
                        <td>
                            <a class="btn btn-primary" href="@Url.Action("CourseDetail", "Course", new { courseId = item.CourseId })">Detail</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>